[2014-05-07 20:05] Timvdv commented on #572
I recently came across this project: http://jasperproject.github.io
It looks pretty decent, but I don't like the voice. I'd like to know how the voice recognition is.

[2014-05-07 20:07] X-Mort-X commented on #572
ah it looks good, your right though, that voice is awefull, wonder if you can change it.....
cheers for the info!

[2014-05-07 20:36] yanniks commented on #572
I started coding a simple one (I'm going to extend it in the near future) about 1.5 weeks ago, it's web based: https://github.com/yanniks/everassist

For dictation, use the small button with the mic on your keyboard.

[2014-05-07 20:41] yanniks commented on #572
And currently, it's German only, but I'll extend that.

[2014-05-08 03:14] jumper4000 commented on #542
I honestly, don't mind people mentioning alternatives once in a while as long we don't get derailed from the main topic. Nothing so far is close to the original SiriProxy, but from the looks of things, It could be a very long time before SiriProxy works again. Arcidodo's solution is the best so far though. I think if someone can take his work and make it work with the same Ruby code from SiriProxy

[2014-05-08 03:19] jumper4000 commented on #572
can these alternatives work with Bing instead of Yahoo/Google? At least with Bing, you don't have to unlock your phone and Siri doesn't need to launch a browser.

[2014-05-08 03:41] X-Mort-X commented on #572
Just tried using bing and it still needs to unlock the iphone......
@yanniks: I don't understand German lol but let us know when you port it to English and I'll give it a go if you like :)

[2014-05-08 03:45] jumper4000 commented on #572
@X-Mort-X that's weird. Bing is Siri's default search engine. On mine, when I say "Bing", then any command, it just shows the result right there on lock screen. Try saying something like, "Bing where can I buy a TV from?"

[2014-05-08 05:11] georg90 commented on #572
I tried to use bing as well, problem here is that the iPhone will not call a website to get the results, it simply does some magic inside (used wire shark) and connect to bing once, and the rest of polls is to apple servers...
So they built it inside of iOS...
Same when you ask for "bing some command"

[2014-05-08 06:46] X-Mort-X commented on #572
Mine does do that for some queries but not others, seems to be for some keywords it will call up a website via bing and others it's displayed in the lock screen, just depends on what I say!

[2014-05-08 08:02] lembi0 commented on #572
mine does not :).
Neither with Google nor with Bing... hm (iOS6)

[2014-05-08 09:38] Timvdv commented on #572
Hmm, for me (IOS7) everything happens within the 'Siri' window when I search with Bing

[2014-05-08 10:44] lembi0 commented on #572
iOS6 opens Bing in a browser window (like Google)

[2014-05-08 11:19] lembi0 commented on #572
Best - or "closest to Siri" solution - i think - would be a voice recognizing App which is able to send out HTTP requests (open an URL with the spoken text as querry-string)  to a self definable URL (raspberry), parse the response an wirte/read it.

[2014-05-08 11:42] georg90 commented on #572
That's exactly what most people don't want, the key feature (my opinion) of siriproxy was the integration with Siri directly, so you can start it from any location etc. and it feels  "build in"
There are already some other apps doing what you describe, you just need to port these web apps to iOS..

[2014-05-08 12:00] lembi0 commented on #572
Well sure, Siri is a little more usable but i think it's just a "Problem" of how the App works.

In my opinion, the WebApps you mentioned, are not pretty user friendly. You first have to start the App then push a button, push the small mic. button on the keyboard, you don't have a spoken response.... and worst of all: your requests have to start with "Google" ... or something like that.

If there

[2014-05-08 12:06] georg90 commented on #572
Second down point: The home button

Afk on a non jailbreaked device you cannot use the home button to trigger the app.

[2014-05-08 12:08] georg90 commented on #572
Yes the web apps are complicated to use, I just wanted to say that there is already a way around it, even if it isn't as convenient as Siri
Can you use the microphone with an app without the keyboard and without pressing a button?

[2014-05-08 12:15] lembi0 commented on #572
No, you can't use the home button... but the "quick start" menu at the lower end of the display (how is this called?)
Were is the difference in pushing a button on the display or pushing the home button? :)

I don't know anything about Apps, but i think it should be possible to use the mic without pressing a specific button (not in WebApps) ... why not?

[2014-05-08 12:54] Timvdv commented on #572
Just to be clear: Is it possible to alter Siriproxy so it will a be intercepting and reading the requests?

This way most of the Siriproxy commands can still be used, only without a response.

[2014-05-08 12:59] lembi0 commented on #572
No it's not. Siri needs a proper response from guzzoni to work correctly...  without a valid session ID (exchanged between Siri and Guzzoni), Siri will not send out speech requests.

[2014-05-08 14:27] X-Mort-X commented on #572
So if it's a problem with the cert.... And that's on every legit iphone running ios 7..... Can't you simply clone it in some manner a send it from the proxy itself?

[2014-05-08 14:31] X-Mort-X commented on #572
Oh and the way round the problem of pressing the button for me would be to pull apart the iphone and have a specific word that actuated a electronic switch replacing the home button all together! But obviously that would only happen if I deployed it house wide, I'd also have mic's everywhere lol

[2014-05-08 14:44] lembi0 commented on #572
the cert is on the server... and if it would be "cloneable" it would be no great saftey feature, i think...  :)

[2014-05-08 15:36] X-Mort-X commented on #572
Well I suppose it depends if it's designed as a safety feature lol i don't actually know the workings of siri I was just hoping to spur a moment of genius in someone lol clearly that didn't work haha, surely though, if the cert is only located on the server, then there must be authentication keys on each device? With that in mind can't a key gem be made like they use on cracked software?

[2014-05-09 23:48] X-Mort-X commented on #572
Right I have been trying this voice program 'jasper'! Cannot make it work! It won't connect to the wireless at all, can't seem to pick up the ad-hoc network it supposedly broadcasts on my win7 lappy or my iphone! Getting a bit peeved lol

[2014-05-11 16:00] X-Mort-X commented on #542
This may or may not sound like a stupid idea.... But couldn't someone develop an official app (with siri integration) for a web interface that makes customisable outputs? Or wouldn't apple allow that?

[2014-05-11 16:05] lucamozza commented on #542
I don't think Apple will ever allow third party developers to develop an official app (if this was what you meant)...

[2014-05-11 16:06] X-Mort-X commented on #542
I thought they were all third party lol (or most) and then sent for apple approval?

[2014-05-11 16:16] lucamozza commented on #542
Yes, you're right. Most of the apps on the App Store are third party apps and then approved by Apple.
What I meant is that Apple never lets this apps to interfere with system features. That's why there's no official Siri API or something like that.
That's also why there's no app that gives you a physical value for wifi strength: those system features are unreachable without a jailbreak. Obviously

[2014-05-11 16:32] X-Mort-X commented on #542
Ahh I see, basically if apple would approve it then we would already have it :) it's a shame really, apple are really restricting the possibilities of their idevice's by being so strict, if they would just allow developers to create the framework then they could add the proprietary functions themselves and everybody wins lol

[2014-05-11 16:36] Ponyboy47 commented on #542
Well there are a lot of logistics and other things that go into allowing
third party apps having access to siri. How do they deal with multiple apps
attempting to use the same voice commands etc..

On Sunday, May 11, 2014, X-Mort-X notifications@github.com wrote:

[2014-05-11 16:48] X-Mort-X commented on #542
I understand but all I mean is, this functionality is not only convenient for us as users but its a major marketing platform for apple as a whole in a time when samsung and google are catching them up lol just makes business sense to me that's all :)

[2014-05-11 17:34] bgottsch commented on #542
If any one is interested I have found a temporary solution to control stuff using voice and Siri. You have to be an iOS developer since Apple woudn't approve it. What you could do is create an app with the name of the command like "Turn on lights". By having an app named like this, you could say to siri "open turn on lights" or simply "turn on lights" and it would open the app. When it does you do

[2014-05-15 12:13] smartHomie commented on #542
Hi,

since yesterday i'm using Siri-API.
Works fine for me :-)

https://github.com/HcDevel/Siri-API

[2014-05-17 22:36] ioquatix opened #573 "RubyDNS 1.0.0 release, can you please test."
We are preparing for 1.0.0 release of RubyDNS. Changes are mostly performance and bug fixing, tidy up code base.

ioquatix/rubydns#28

If possible can you please test with latest 0.8.x and report back. We aim to do 1.0.0 release of RubyDNS by the end of this month. Thanks for your help!

[2014-05-22 01:53] phillpafford commented on #542
Would the duolci hack help with guzonni?

[2014-06-02 19:26] bgottsch commented on #542
Don't know if any one saw the WWDC 14 Keynote, but there is a new home automation API with Siri integration. The info still is not much but it may be the solution Apple is providing. Also Siri has a new always-on feature where you say "Hey Siri" and it activates, which is cool to combine with automation and controlling stuff. As I mentioned, there is still a lot to learn with this new programming

[2014-06-02 19:27] bgottsch commented on #572
Don't know if any one saw the WWDC 14 Keynote, but there is a new home automation API with Siri integration. The info still is not much but it may be the solution Apple is providing. Also Siri has a new always-on feature where you say "Hey Siri" and it activates, which is cool to combine with automation and controlling stuff. As I mentioned, there is still a lot to learn with this new programming

[2014-06-02 19:28] yanniks commented on #542
We'll see, my new iOS developer license is not active yet. But I'll
definitely play with the new features. ;-)

Liebe Grüße
Yannik

---

Yannik Ehlert
http://www.yanniks.de

E-Mail Privat: yannik@yanniks.de
E-Mail Website: kontakt@yanniks.de

2014-06-02 21:26 GMT+02:00 Beno notifications@github.com:

[2014-06-02 19:39] nelmedeiros commented on #572
Is the the end of SiriProxy project!!—
Sent from Mailbox

On Mon, Jun 2, 2014 at 7:27 PM, Beno notifications@github.com wrote:

[2014-06-02 21:58] andymcblane commented on #542
Looks like I might be buying a licence!

Sounds amazing

[2014-06-04 00:53] hackworth commented on #542
I had need for a generic voice command processor so I've completely gutted SiriProxy and created [SPVoice](https://github.com/Hackworth/SPVoice) from it. It uses SiriProxy plugins with very little modification, since I'd hate to lose all of the work I've done on plugins over the past year or two.

[SPVoice](https://github.com/Hackworth/SPVoice) can be used as either a Ruby class, for any of you Ru

[2014-06-04 00:54] hackworth commented on #572
I had need for a generic voice command processor so I've completely gutted SiriProxy and created [SPVoice](https://github.com/Hackworth/SPVoice) from it. It uses SiriProxy plugins with very little modification, since I'd hate to lose all of the work I've done on plugins over the past year or two.

[SPVoice](https://github.com/Hackworth/SPVoice) can be used as either a Ruby class, for any of you Ru

[2014-06-04 00:56] andymcblane commented on #542
Do you pass it voice packets or something?

[2014-06-04 10:57] hjstn commented on #542
I have a Jailbroken iPad with iOS 7.0.4, if you need me to log anything, feel free to contact me.

[2014-06-05 04:48] jumper4000 commented on #542
@Hackworth, That's awesome! Sounds like your solution is as close to SiriProxy as we're ever going to get. I'll see if I can give it a try this weekend and let you know how it goes.

[2014-07-23 11:13] HaTe87 commented on #542
did anyone still working on it?

[2014-07-23 11:15] andymcblane commented on #542
With even more changes to Siri in iOS 8, I'd say not.

[2014-07-29 16:26] adarwash commented on #542
Could we even try to get it to working with the JB it would be better then nothing

[2014-07-29 16:28] andymcblane commented on #542
Go for it!

Feel free to create a fork and start working

:)

[2014-08-16 17:30] nixiam opened #574 "Siriproxy & dyndns not working"
Hi guys,
I am an Italian guy and I recently installed SiriProxy on my pc. He works perfectly even 3g but when I replace my IP with the address of my dyndsn url, the server does not receive more requests. I have also tried to replace the certificate by following the instructions of the post "https://gist.github.com/chuchomtz/1558903" but it does not work.
I am registered on the site dyndns.it but I

[2014-08-20 14:41] perfaram commented on #542
@adarwash2012 :+1:
 Good idea ! If I can do anything for you, just tell (perfaram@windowslive.com). Note that I've got a jailbroken i5 under 7.0.1 (but I don't know **anything** in SiriProxy, or the way it works)

[2014-08-20 14:44] andymcblane commented on #542
It's pointless working on ANYTHING to do with siriproxy for a jailbreak right now. iOS 8 is coming out very soon, with big changes to the Siri protocol.

This project is dead, unfortunately.

[2014-08-20 15:31] perfaram commented on #542
What the hell is that thing ? Can't find anything on it !

[2014-09-17 10:20] Qix- commented on #542
At the risk of sounding like an idiot, is it possible to use something like ddwrt to 'transform' an IP address at the router level so DNS resolution returns the real IP to guzzoni but is instead forwarding traffic to a local proxy server? Or would this muck with SSL/TLS protocols?

[2014-09-17 10:23] andymcblane commented on #542
I'm not networking genius, so I barely understand that.

There has been a change in the SiriProtocol which made SiriProxy break (the iPhone wouldn't get the response from the server), I believe due to it opening multiple connections.

With even more changes to Siri in iOS (coming out tonight) and stuff like SiriAPI I wouldn't recommend working on this anymore (though if your idea should work, feel

[2014-09-17 11:32] lembi0 commented on #542
The proxy can handle the multiple Connections correctly, that's not the problem. Main problem is that the phone is able to recognise that it's not connected to Guzzoni... and breaks the connection immediateley.
The multiple opened connections are more a result of that, than a "feature" of iOS7.
In a normal connection to guzzoni, there is  - most of the time - only a single connection established.

[2014-09-17 20:24] adarwash commented on #542
If the proxy can handle the multiple connections then let use a JB phone and try to get it to connect to Guuzzoni servers with multiple connections, i am not that good with proxy server so i have no idea how to setup the multiple connections  if anyone what to try via a skype group to make this work my skype name is @adarwash2012 i have a mini data centre i have lots of spare server and ip address

[2014-09-18 17:29] Qix- commented on #542
@lembi0 right; so when the phone performs a DNS lookup for Guzzoni, cache the result on the router and all traffic going to/from those IPs get routed to the proxy.

[2014-09-18 17:59] lembi0 commented on #542
yeah... but that is exactly what siriproxy is doing right now. .. !?
You can log the decrypted traffic without any problems and there are no abnormalities . iOS7 does not reject the connection to the proxy in the beginning. It' connects, sends out the first part of the request to guzzoni and then - without getting or waiting for a response - closes the connection. I already described this behavior

[2014-09-18 19:17] Qix- commented on #542
@lembi0 Exactly; do we know why Siri knows she's not connected to Guzzoni?

[2014-09-18 19:21] lembi0 commented on #542
No, she's always responding with something like "I dont't know what you mean" ...if you ask her this question ;o)

[2014-09-18 19:23] lembi0 commented on #542
best guess is: they check the cert.

[2014-09-25 02:08] 128keaton commented on #542
well, we tried. any news with ios8?

[2014-09-25 02:18] plamoni commented on #542
There will likely never be iOS8 support for SiriProxy. Apple has completely changed how Siri works, making it more real-time than it was.

However, all is not lost. There's another opportunity available with HomeKit. HomeKit allows you to hook into Siri through a standard Apple protocol. The protocol isn't public, but it's not monstrously complicated (well, it is when compared with existing home a

[2014-09-25 02:38] 128keaton commented on #542
@plamoni i spent most of my day trying to get that to work. I am still stumbling on getting the Bridge/Demo working, the iCloud stuff for it is extremely shaky so a little jostle throws an error that, right now, can only be resolved by signing out/into iCloud.

[2014-10-02 22:07] 128keaton commented on #542
@plamoni  I got a working implementation that just requires a Mac with Xcode 6 and HomeKitSimulator and an iPhone. Its very basic: https://github.com/BitTankInc/BitBridge.

[2014-10-03 05:48] griches commented on #542
Awesome! I'll hook it up to my system today and make a video. Good work guys

[2014-10-03 05:54] andymcblane commented on #542
Please link the video here, I'm curious :-)

[2014-10-03 10:46] hans-peter123 commented on #542
There ist already a Demo Video!!:
https://www.youtube.com/watch?v=Bo3o6FmYd5Q

[2014-10-03 10:51] griches commented on #542
I have downloaded everything and run it and get a bridge status bar application with a PIN displayed but am not getting any further than that.

I see the code to send stuff to the serial port for the Arduino but can’t work out what I need to do with the HomeKitSimulator.

I figured iOS 8 would prompt me to connect to the bridge when it saw it advertised but that isn’t happening.

Any ideas?

[2014-10-03 11:55] griches commented on #542
Got it working!

http://youtu.be/EEsgxZXfwwo?list=UUAfpVGK-1DGs8S5lNWeQp4g http://youtu.be/EEsgxZXfwwo?list=UUAfpVGK-1DGs8S5lNWeQp4g

I had to use an app to interface with the bridge that the bitbridge app creates.
Once I had that I was able to rename the lamp to “study lights”. I then modified the bitbridge app to call a PHP script that turns my lights off.

I need to work out how it can take mor

[2014-10-03 13:45] massinegro204 commented on #542
But for raspberry there are solution ?

[2014-10-03 14:19] 128keaton commented on #542
@griches I forgot to specify. That was also the night I screwed up a rebase and lost some stuff. Pardon!
@massinegro204 afraid not. Until someone writes something similar for linux, you need to use a mac. Take a look at creating a virtualized Mac, not super hard.

[2014-10-03 14:35] griches commented on #542
No worries. Any idea how to give a light an HAKBrightnessCharacteristic like is has an HAKOnCharacteristic?

[2014-10-03 18:33] 128keaton commented on #542
@griches submit that to my issues page on the BitBridge page, don't want to clutter this discussion.

[2014-10-03 19:08] massinegro204 commented on #542
but there is a way to show the arduino or raspberry as HomeKit accessory ?

[2014-10-05 00:14] 128keaton commented on #542
@massinegro204 anything is possible, as long as you can send commands to it from Cocoa (still very possible). Look at the BitBridge source, specifically at the Light.m file, down the bottom there should be a line sending serial port commands, something for an Arduino to read and perform actions off of that. For a RaspberryPi, it would just send PHP requests.

[2014-10-11 11:26] peadard commented on #542
I managed to get it working to control the lights attached to my Elk M1 Gold.
I posted a video here:
http://youtu.be/xx7I4b-Wpi0
Just a quick video but I can see how powerful it could be.
I will work on expanding it.
I did not use the arduino module but rather opened a CFSocket to the M1 to turn the lights on.

[2014-10-11 12:53] tommyd75 commented on #542
peadard,
How did you open a socket?
Did you modify the bridge?
I've got it working with the simulator app and want to be able to send http requests to Homeseer.

[2014-10-11 13:26] griches commented on #542
Modification of the bridge app is required. I've got mine working with a Wemo now too. At the moment mine is calling URLS and passing arguments to them. I think expanding the bridge menu to define that a call to X does Y would be a good start to making it more suitable for others to use

[2014-10-11 13:32] ferrygun commented on #542
Just a quick one, do we need an apple developer license to build this?

[2014-10-11 14:26] tommyd75 commented on #542
@griches

That's great news, I don't have Wemo but it's good to see this is flexible enough to be adapted to a lot of different things. Would you be able to show an example of the strings you're using to control the Wemo?

[2014-10-11 16:06] griches commented on #542
I don't think so as you're just deploying to your macs, not to the app store. Just Xcode will suffice

[2014-10-11 16:07] griches commented on #542
I'll host a zip of the files I'm using. It's a mix of PHP and Python. You could probably do it better but I don't normally do Web dev.

[2014-10-11 17:47] tommyd75 commented on #542
@griches

OK, thanks, I look forward to taking a look at your work. Would you be posting that link here?

[2014-10-11 18:05] griches commented on #542
Yep. No worries. Got to put my little girl to bed so wont be for a couple of hours.

[2014-10-11 19:21] griches commented on #542
So here are the steps I took to get this all working.

I added a HAKBrightnessCharacteristic to the HAKLightBulbService in the BitBridge sample that was posted here. You can see the code here:

https://gist.github.com/anonymous/4bafbc2a09a8a6660504 https://gist.github.com/anonymous/4bafbc2a09a8a6660504

I then modified the characteristicDidUpdateValueNotification method to call a URL based on whet

[2014-10-11 19:23] griches commented on #542
And make sure your iCloud keychain sharing is on otherwise it wont work!

[2014-10-11 19:47] tommyd75 commented on #542
@griches

Wow! Thanks, this is a wealth of information. I appreciate the quick responses, I'll be busy all weekend playing with this ;)

[2014-10-11 20:16] connyg commented on #542
Hi guys,

I am reading this thread for quite a while, originally hoping for a solution for SiriProxy and now being happy that there's a solution in sight with HomeKit.

For my understanding:
This works by having HomeKitSimulator running with your own HomeKit App created with Xcode on a Mac in the network.
HomeKitBridge on any iOS device will discover the HomeKit server (the simulator) and so Siri

[2014-10-11 20:20] tommyd75 commented on #542
@griches

One quick question, you mentioned about iCloud keychain sharing. Does this only work locally on the network or will it span over cellular as well, like when you're not on wifi at home?
I read that they are planning on using iCloud and Apple TV to act as a hub in future releases. I'm assuming they are using iCloud to allow this work on any network including cellular.

Thanks again.

[2014-10-11 20:35] tommyd75 commented on #542
Yes, I believe that's the way it works.
At least from my limited understanding.

Sent from my iPhone 5s 

[2014-10-11 20:52] griches commented on #542
When I'm on 3G Siri will accept the commands but nothing happens so it's only locally for now

[2014-10-11 20:55] griches commented on #542
The Home Kit Simulator isn't needed. Just the bridge and the Home Kit app to let Siri know the bridge exists. The custom code runs in the bridge app and Siri will trigger a method in it.

I run the bridge on an old Mac mini I use as a Jenkins server.

[2014-10-11 20:57] arnthorsnaer commented on #542
Where can I find the documentation for this (bridge/app etc.) ? Does it exist? 

-A

On Sat, Oct 11, 2014 at 8:55 PM, Gary Riches notifications@github.com
wrote:

[2014-10-11 21:06] griches commented on #542
The git for the bridge was posted here a few days ago. You can look at the headers to see the method names. The iOS documentation is here:
https://developer.apple.com/library/ios/documentation/HomeKit/Reference/HomeKit_Framework/index.html#//apple_ref/doc/uid/TP40014519

[2014-10-11 21:40] connyg commented on #542
Ok, thank you.
I would think so, but ... does the bridge have to run on a Mac?

Am 11.10.2014 um 22:56 schrieb "Gary Riches" <notifications@github.com<mailto:notifications@github.com>>:

The Home Kit Simulator isn't needed. Just the bridge and the Home Kit app to let Siri know the bridge exists. The custom code runs in the bridge app and Siri will trigger a method in it.

I run the bridge on an ol

[2014-10-11 21:45] griches commented on #542
As it stands it's a Mac app. I have read Apple are making it an open standard but I can't find any info to back that up from a quick Google search

[2014-10-11 23:51] connyg commented on #542
Just watched the WWDC video and now I understand:
A bridge is the gateway to non-HomeKit compatible devices. For anything that's not directly recognizable by iOS you need or write a bridge.
And the bridge needs to sit on some Apple device in your home and represents the devices towards iOS.
Cool stuff. And it makes the impression to be quite natural in its implementation.

Am 11.10.2014 um 23:45 s

[2014-10-14 11:48] connyg commented on #542
I have got the bridge example and the homekit app running. Siri lets me switch the virtual garage door. Fun!
Was actually rather easy to accomplish. Next is to add some own code to control my stuff exposed via web urls.
Is there any way to not have to run the homekit app on the iOS device? Will this change with iOS 8.1.? If not mistaken i read this will officially support HomeKit?
And it seems you

[2014-10-14 15:38] griches commented on #542
Hey guys,

I wrote a small iOS app that will allow you to make URL requests from your Today screen on iOS. Whilst not Siri control, it does allow you to use
your phone to control things very quickly.

The apps name is Home Remote and it’s here: http://appstore.com/homeremote http://appstore.com/homeremote

Obviously it requires the item to be controllable via a URL. Version 1.1 however, now has di

[2014-10-14 17:15] lembi0 commented on #542
nice litte app. :) Wouldn't it be possible to make this App work as a bridge for non HomeKit devices?
(I don't really understand how this whole thing works - just an idea)

[2014-10-14 17:25] griches commented on #542
I haven't really looked in to HomeKit that much. Information is still so thin on the ground. I don't _think_ it's possible for the iOS device to act a bridge but it can't hurt to look into it some more. I'll see tomorrow.

[2014-10-16 11:20] limb18 commented on #542
I managed to build and run the bridge. I got the bridge status bar with a PIN displayed. What should I do next? I did not see anything on the HomeKit Simulator. Do I need to add the bridge on it?

[2014-10-16 11:22] griches commented on #542
When I had the bridge set up I had to install a Home Kit app on my iOS device. I used this one:

https://github.com/marcelfalliere/HomeKit https://github.com/marcelfalliere/HomeKit

There might be actual app store apps out now which would get round this requirement.

This allowed Siri to “see” the HomeKit bridge.

You do not need HomeKit Simulator at all, ignore it.

[2014-10-16 11:26] limb18 commented on #542
Thanks for your quick response. I believe I need to have the Apple dev license to install the Home Kit app on my iPhone, is that correct ?

[2014-10-16 11:36] griches commented on #542
Yes, but there is obviously some way of sharing the info or something. Once I had accessed the devices on one device, the rest of my devices could also trigger the devices with Siri… I think it’s to do with iCloud.

You could run the app on the simulator (which required no license and allows you to sign in to iCloud) and then see if it works on your other devices?

G

[2014-10-16 12:19] connyg commented on #542
I needed an Apple Developer Program registration to get a certificate to sign the App before deploying it to the iPhone.

Conny

Von: limb18 <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/SiriProxy <reply@reply.github.com<mailto:reply@reply.github.com>>
Datum: Donnerstag, 16. Oktober 2014 13:27
An: plamoni/SiriProxy <SiriProxy@noreply.github.com<mailto:SiriProxy@

[2014-10-16 12:30] limb18 commented on #542
The build succeeded but I got an error when trying to run: "The file HomeKitDemo couldn't be opened because you don't have the permission to view it". Is this because I don't have the dev license or something else? sorry, I am new to iOS programming.

[2014-10-16 12:50] griches commented on #542
Have you tried the Simulator and iCloud way? It's worth a try

[2014-10-16 13:12] limb18 commented on #542
I think iCloud also need a license. Was not able to deploy in simulator too due to that error

[2014-10-16 13:29] griches commented on #542
Maybe try these solutions: http://stackoverflow.com/questions/24924809/the-file-myapp-app-couldnt-be-opened-because-you-dont-have-permission-to-vi http://stackoverflow.com/questions/24924809/the-file-myapp-app-couldnt-be-opened-because-you-dont-have-permission-to-vi

G

[2014-10-17 01:08] limb18 commented on #542
Thanks. I managed to get it solved.

[2014-10-17 06:41] griches commented on #542
What element did you get solved? The deployment to Simulator or also the ability to then reference the HomeKit devices via Siri on your phone?

[2014-10-17 07:43] limb18 commented on #542
I was able to get rid the earlier error message. But I am still unable to deploy to simulator. I have created another issue in that git: https://github.com/marcelfalliere/HomeKit/issues/7

Error is: "An error was encountered while running (Domain = LaunchServicesError, Code = 0)"

Do you have any  clue ?

[2014-10-17 08:16] connyg commented on #542
It seems to me that this HomeKit stuff is still very early, also from Apple side.
When asking Siri about the devices I can't find out to be able to do more than switch light or the brightness or the garage opener.
If I want to ask Siri which devices are there I can only get the number (Which lights are there? There are 2 lights. Which devices are there? There are 5 devices).
Then I now have some e

[2014-10-17 08:21] griches commented on #542
I’ve just downloaded it and, without changing any settings, had it run on my simulator…

However, unless you have added the HomeKit entitlement to your app ID it seems it won’t let you add a home or any accessories.

So it looks like even the simulator is a dead end unless you are a developer… for the time being.

All you need is one properly released HomeKit app to come out and then all the items

[2014-10-17 08:24] griches commented on #542
Are you running an iOS 8 beta? It all seems dependant on having iCloud Keychain available. My beta 8.1 signs me out randomly, and if I’m signed out it won’t work…

Your Siri is able to “see” the devices?! If this is the case maybe you don’t need to the Home Kit iOS app.

If Siri can see them then you;re nearly there. Fro,m that point you need to edit the bridge source code to intercept the command

[2014-10-17 08:34] connyg commented on #542
I am running iOS 8.0.2. Keychain is available. Yes, Siri sees the devices, I have the HomeKitDemo app on my iPhone and the Bridge on my Mac.
It worked initially and stopped at some point, Siri saying the devices are not responding.
The first time this happend it resolved itself when I restarted the HomeKitDemo (or whenever, I didn't notice it that much). Yesterday it didn't resolve itself.
Yesterd

[2014-10-17 08:44] griches commented on #542
Ah right, hopefully you’ll be good on Monday with 8.1 then.

I once had to delete the Application Support folder for my bridge to get it to refresh after I’d changed some settings.

I’ll check out the KhaosT app.

[2014-10-17 09:20] connyg commented on #542
Ha, in fact after I signed out and back into iCloud it works again and I could remove my devices successfully resp. the error message for some was different (error 34).
Also Siri said now that "some" of the devices did not respond, so it seems to be the same issue on both ends.
After restarting the HomeKitDemo the devices are gone, though and the Bridge is listed in Discover. That's how it should

[2014-10-17 09:28] connyg commented on #542
Weird: I removed all accessories but one light from the bridge and after I readded it to the HomeKit Demo app I again have Garage Door, Thermostat and ArduLamp, though they are not added to the bridge.
Next would be to find out how to do other devices like just an On/Off device or a TV remote which is not a lamp or how to address them by name.
I successfully switched my Espresso machine via bridge

[2014-10-17 09:35] griches commented on #542
You can already rename devices from the HomeKit app. I renamed my lights “Study lights” and was able to address them as such.

[2014-10-17 10:00] connyg commented on #542
Ok, cool. I tried that and Siri didn't recognize it. Maybe I need to play with it some more.
Ah, wait. I renamed it in the bridge, that might make a difference. Could be the same issue I have now with removal, that they still appear.
Eventually I need to explicitly remove them from the bridge as it's the "owner" of the devices and simple removal of the code does not remove it from HomeKit DB or so

[2014-10-17 10:04] connyg commented on #542
Administrative question:
This originally has been a SiriProxy thread which were are kidnapping.
Should we see to join or open some forum on HomeKit?
When googling for HomeKit there is not much to be found outside the githubs we know and any press release or press echo on HomeKit.
Is there any natural place you guys would know where this belongs?
Or are you happy with going on here?

Von: Gary Rich

[2014-10-17 10:35] griches commented on #542
This does seem to maybe be th bring place, even if the end goal is similar. I'm happy for a new area/thread to be created but also happy to carry on here if people don't mind

[2014-10-17 12:52] limb18 commented on #542
now i managed to run the simulator. But when I tried to add "Home", i got this error message: "2014-10-17 20:47:10.426 HomeKitDemo[2608:36358] Failed adding home, Error:Error Domain=NSCocoaErrorDomain Code=4097 "The operation couldn’t be completed. (Cocoa error 4097.)" (connection to service named com.apple.homed.xpc) UserInfo=0x7fcd49646af0 {NSDebugDescription=connection to service named com.appl

[2014-10-17 13:02] griches commented on #542
Yeah. I touched upon this a few emails ago. I'm pretty sure it's because you don't have the HomeKit capability in your provision profile (and you won't get unless you sign up as a developer and create a provisioning profile with that in) although, I think it's free to sign up for that level of ability.

[2014-10-17 13:20] peadard commented on #542
I agree with @griches this does seem to be an ideal place to discuss it but am also happy to move on if people are not happy. I have almost linked my garage doors to it but would like to add some rooms, as I am not familiar with home kit would somebody be willing to outline step by step what is necessary to do to add a new accessory and or room (instead of modifying the light.m and light.h) I will

[2014-10-17 13:49] 128keaton commented on #542
@kguess yes, I would move all discussion to Issues on BitBridge.

[2014-10-18 01:18] tommyd75 commented on #542
So I have this working sending http requests sending to my Homeseer server, so now it's turning on or off one light.
How would I add more devices with unique http urls to send different requests for each one?
Can I just add them to the Light.m file ?
This is what my Light.m file looks like.

#import "Light.h"

#import "HAKIdentifyCharacteristic.h"
#import "HAKOnCharacteristic.h"
#import "HAKLightB

[2014-10-24 14:09] limb18 commented on #542
Hi, is it possible with HomeKit to ask Siri to reply with predefined words? For example if i ask Siri to switch on the light, she will always reply first with 'Thank you' then do the action.

Is it possible?

[2014-10-24 14:10] griches commented on #542
Not that I've seen

[2014-10-24 16:37] bgottsch commented on #542
Has anyone looked into HomeKit actions? For what I have learned about it in the docs, it is possible to ask Siri to execute predefined actions. And so, with the bridge we can predefine what each action (voice command) does. By this I think any command is possible to be executed by Siri (not only Apple pre-defined such as turn on a light). If this is the case, HomeKit could be a viable replacement

[2014-10-24 18:50] quiquoi commented on #542
Hello, how can I add another "lamp" for example BitBridge?
I tried to add one, so I have 2 lamp in 2 separate rooms but if I light a another lights also ...

thank you

[2014-10-24 20:49] rooi commented on #542
Did you guys notice the nodejs hap server by khaost? It's working on a raspberry pi as well. https://github.com/rooi/HAP-NodeJS

[2014-10-24 21:55] tommyd75 commented on #542
So,
Do we just install that node js server on our Pi and then it makes the Pi a Homekit device?

How would we add lights and such to this?

Or would it already "connect" to our existing raspberry Pi commands In the siri proxy config file?

Sent from my iPhone 5s 

[2014-10-27 03:52] tommyd75 commented on #542
@quiquoi

Did you ever figure out how to add another lamp and be able to send diff commands?
I'm having the same issues......

[2014-10-27 08:26] peadard commented on #542
@tommyd75 @quiquoui I have manage to add a new accessory called OutdoorBlnds. I created an OutdoorBlinds.h and a OutdoorBlinds.m file. I also added a new accessory in appdelegate.m called Outdoor blinds. I will post the code I have at the moment if anybody is interested?

[2014-10-27 08:57] connyg commented on #542
And could you talk to it naming it Outdoor Blind?

Von: peadard <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/SiriProxy <reply@reply.github.com<mailto:reply@reply.github.com>>
Datum: Montag, 27. Oktober 2014 09:26
An: plamoni/SiriProxy <SiriProxy@noreply.github.com<mailto:SiriProxy@noreply.github.com>>
Cc: Konrad Güßbacher <konrad@guessbacher.de<mailto:konrad@gu

[2014-10-27 09:02] griches commented on #542
You can rename them from an iOS homekit app and then verbally address them.

[2014-10-27 09:03] arnthorsnaer commented on #542
@tommyd75  

I have been playing around with the HAP-NodeJS project with positive results. It has minimal documentation but I managed to add one accessory and am on my way to add other. 

So what I did was this:

1) Build Bitbridge-iOS project (containing the HomeKitDemo app) and pushed the app to my iOS8 device

2) Ran the HAP-NodeJS (HomeKit Accessory Server)

3) Opened the HomeKitDemo app and v

[2014-10-27 09:10] connyg commented on #542
Good work!!!

One thing I could not find out more about:
when asking Siri how many or which devices were there, then it would respond "there are 6 devices" or something.
But I could not get Siri to enumerate them, even asking "which lamps are there", it kept saying "there are two lamps".

Konrad

Von: arnthorsnaer <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/Si

[2014-10-27 09:13] arnthorsnaer commented on #542
@kguess

I’m not sure what Siri's HomeKit browsing capabilities are, but the BitBridge (“HomeKitDemo”) app gives all this information and allows you to remove accessories (which is something that you need to do after some toying around). 

-A

##

Sent úr símanum

On Mon, Oct 27, 2014 at 9:10 AM, kguess notifications@github.com wrote:

[2014-10-27 10:18] quiquoi commented on #542
@tommyd75
No, I have not been able to send different commands

@peadard
Yes, Yes I want the code for your new accessory called "OutdoorBlnds", that's exactly what I'm looking

thank you

[2014-10-27 10:41] X-Mort-X commented on #542
Hey guys, i was previously using siriproxy on ios 6 a long time ago, iv recently nooticed that there has been a solution you brilliant guys have found.
My question is, i have a raspberry pi and would love to get my siriproxy projects back up and running, are there any guides on what i need and how to do it available for someone like me who has a little knowledge (but not lots, by any means) on how

[2014-10-27 10:46] connyg commented on #542
Hi X-Mort-X,

the HomeKit thing is something totally different from SiriProxy.
SiriProxy was intercepting Siri Requests and reacting to commands instead of Apple servers.
That's not possible anymore due to protocol changes by Apple that are eventually not easily hackable any more.

But now Apple is launching HomeKit which is iOS/Mac OS functionality / API for supporting devices, also controllable

[2014-10-27 10:52] X-Mort-X commented on #542
Ok so i basically scrap my siriproxy image for a start, i did find the git for HPA-NodeJS and yes, its barely documented hence my trouble lol, iv got no issue learning what to do from the start again, basically id like my arduino gpio to be controlled by siri, and as the arduino doesnt support JS, im making the assumtion i need my PI to pass on instruction.
Im not afraid to try and get to grips an

[2014-10-27 10:57] connyg commented on #542
You could place the HPA-NodeJS on the Pi, give the Pi and the Arduino some RF module to control the GPIO.
The Pi then acts as the device or bridge towards Apple (i)OS and Siri, and the Pi distributes the commands to whatever device.

Von: X-Mort-X <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/SiriProxy <reply@reply.github.com<mailto:reply@reply.github.com>>
Datu

[2014-10-27 10:59] X-Mort-X commented on #542
so effectively the pi acts as the homekit hub (apple tv) that would normally sit in the middle of the siri requests right?
also the actual install of the nodeJS, how would this be acomplished? or is there a guide for that?

[2014-10-27 11:01] X-Mort-X commented on #542
also i was planning on sending the requests over through messege parsing with rabbitMQ probably so i could have multiple nodes from a single "hub" and then multiple "hubs" if thats still possible in this respect?

[2014-10-27 11:46] connyg commented on #542
Yes, exactly.
nodeJS: that exists for a few years, there should be guides around. Haven't worked with nodeJS yet.

Von: X-Mort-X <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/SiriProxy <reply@reply.github.com<mailto:reply@reply.github.com>>
Datum: Montag, 27. Oktober 2014 11:59
An: plamoni/SiriProxy <SiriProxy@noreply.github.com<mailto:SiriProxy@noreply.github.c

[2014-10-27 11:49] connyg commented on #542
Depends if HomeKit gives synchronous answers on requests and if your single / central hub would wait for the responses from the "satellites" that run through the message bus.
Eventually that could lead to issues if the response through the message bus takes too long.
But conceptually that's no problem, the central hub does the HomeKit work, the others wouldn't even need to deal with that. Unless y

[2014-10-27 14:47] arcidodo commented on #542
i try to install the "HAP-Nodejs" but get this error..

root@nodejs /opt/HAP-NodeJS# node Core.js
**\* WARNING **\* The program 'node' uses the Apple Bonjour compatibility layer of Avahi.
**\* WARNING **\* Please fix your application to use the native API of Avahi!
**\* WARNING **\* For more information see http://0pointer.de/avahi-compat?s=libdns_sd&e=node
**\* WARNING **\* The program 'node' cal

[2014-10-28 01:23] 128keaton commented on #542
Holy cow guys, great work on the Raspi stuff!

[2014-10-28 18:59] arcidodo commented on #542
never mind! i installed ubuntu 12.04 32 bit.. and it works flawless

now the testing begins.. i have a lightwaverf wifi link thing.. and if i have it correct HAP-nodejs has someting for it.. i try to fix that:D

[2014-10-29 08:15] X-Mort-X commented on #542
ok im getting this error, no doubt its my fault but any ideas?

pi@raspberrypi ~/HAP-NodeJS $ sudo node Core.js

/home/pi/HAP-NodeJS/node_modules/mdns/lib/dns_sd.js:35
    throw ex;
          ^
Error: /home/pi/HAP-NodeJS/node_modules/mdns/build/Release/dns_sd_bindings.node: invalid ELF header
    at Module.load (module.js:356:32)
    at Function.Module._load (module.js:312:12)
    at Module.requir

[2014-10-29 08:37] connyg commented on #542
Tried node.js yesterday, too. And I am getting the same error when trying to run it.

Before, on "npm rebuild" of the node.js HAP server I get this error:

make: Entering directory `/opt/node-v0.10.25-linux-arm-pi/lib/node_modules/mdns/build'

  CXX(target) Release/obj.target/dns_sd_bindings/src/dns_sd.o

In file included from ../src/dns_sd.cpp:1:0:

../src/mdns.hpp:31:20: fatal error: dns_sd.h: D

[2014-10-29 09:04] arcidodo commented on #542
witch os do you run it?

i get those error's on Ubuntu 14.04 (64 & 32 bit)

now i running 12.04 32 bit and its working perfect.

this are the commands what i run on a fresh 12.04 server installation

arco@ubuntu:~$ history
   sudo apt-get install python-software-properties
   sudo apt-add-repository ppa:chris-lea/node.js
   sudo apt-get update
   sudo apt-get install nodejs
   node -v
   npm -v

[2014-10-29 09:52] kami83 commented on #542
Hi everyone,
i am following this discussion a long time. I am temporaly using my Iphone 5 still with IOS6. After moving to another house i am now starting all my systems again. Temporaly i am trying to get the same function as before with siriproxy. I just have got one question:

Is it i now always possible to use siriproxy with IOS 6 or did Apple change to much things, that Siriproxy is not worki

[2014-10-29 10:00] arnthorsnaer commented on #542
@X-mort-X

@kguess

It looks like you haven’t run “rebuild”.

"Remember to run npm rebuild before actually running the server.”

For more information on how to create your own accessories and services, check out the conversation in this issue https://github.com/KhaosT/HAP-NodeJS/issues/1

-A

##

Sent úr símanum

On Wed, Oct 29, 2014 at 8:37 AM, kguess notifications@github.com wrote:

[2014-10-29 10:34] Alpha200 commented on #542
@kguess You need to run `sudo apt-get install libavahi-compat-libdnssd-dev` (on ubuntu and debian / raspbian). It is a dependency for mdns. After that run `npm rebuild` and it should work.

[2014-10-29 11:24] X-Mort-X commented on #542
ok this is what happens when i run things, firstly i tried npm rebuild inside the HAP-NodeJS folder and i receive errors, then i run it from ~ and it works, so i go back to HAO-NodeJS folder and run node Core.js and i get errors..... heres the log below of all three steps -

pi@raspberrypi ~/HAP-NodeJS $ npm rebuild

sh: 1: node-gyp: not found

npm ERR! curve25519@1.0.0 install: `node-gyp rebuild`

[2014-10-29 11:27] X-Mort-X commented on #542
sorry for the badly formatted text, i have no idea how to make it look any better on here lol

[2014-10-29 14:34] connyg commented on #542
That was ist, now I got the "npm rebuild" to work and the HAP server is running! Thanks!

I am having difficulties to pair, though.
After one failed attempt (i think it took me too long to find the passcode in Core.js) it seems to hang
in some in-between state and the HomeKit App does not find a new accessory any more.
And the server gets connections, but nothing seems to happen.

Should I be worr

[2014-10-29 14:58] connyg commented on #542
I changed the ID of the Test Accessory and then I could do the pairing again. Could switch the node.js lamp with Siro.
Very cool! :-)

Siri tells me there are 2 devices, so I suspect that the first one really hangs in a stale mode, registered in the DB but not paired.
Not sure how to fix that, didn't find a Api function to enumerate devices independent from Home or Room, need some more research.

[2014-10-29 15:02] connyg commented on #542
It seems to me the HAP node.js server is not completely stable somehow, hangs from time to time and would not react to the Siri request.
Recovers after a minute or so by itself and then responds again.

[2014-10-29 15:10] arnthorsnaer commented on #542
@kguess - like me you will probably discover that in order to define services / characteristics with other types you will need those UUID’s. You can find them here https://github.com/KhaosT/HAP-NodeJS/issues/1

On a unrelated note, I feel that that this project should be organised so that accessory / characteristics / services are defined seperately in a JSON file. It would make it easier to creat

[2014-10-29 15:45] kami83 commented on #542
@anyone how can answer my question?

Cu kami

[2014-10-29 16:56] arcidodo commented on #542
http://youtu.be/CBRmm5d9Vx0

better video with console output.

[2014-10-29 17:59] quiquoi commented on #542
@peadard
Yes, Yes I want the code for your new accessory called "OutdoorBlnds", that's exactly what I'm looking
could you post it here ?

Thanks

[2014-10-29 18:45] drmariano commented on #542
Has anyone compiled docs to install on raspi and/or get it to work with Control4?

[2014-11-01 20:19] nathreed commented on #542
I have the HAP-NodeJS solution working well. Here are some notes:
- For the lazy, the default PIN for pairing a HomeKit device with the server is 031-45-154
- I used the modified Core.js from KhaosT <a href="https://gist.github.com/KhaosT/f4a6dbc5f48530f9c657">here</a>
- To add more accessories, I just copied/pasted the relevant bits and changed the MAC address and variable names, etc
- I used the

[2014-11-01 22:24] connyg commented on #542
Perfect summary, that's also what I did (except adding a new accessory).
Also experiencing the "not responding" issue from time to time. It got much better after I fixed something using much CPU on the PI.
The NodeJS server seems to drop and rebuild the connection from time to time, I had the impression that could have to do with this.
The first time when I tried the pairing I didn't know the Pin

[2014-11-01 23:11] Timvdv commented on #542
I've got it working too, it's fun to play with.

I'm not a NodeJS expert.. Is this the correct way to create a http request?

At the top of the Core.js file I added

[code]

Within the generateLightService function there was this line

[code]

The value in this function is either true or false (on or off) so I used this to generate a http.get request

[code]

[2014-11-01 23:25] nathreed commented on #542
I'm sure that is one way to do it, I personally used the request library. I'm on mobile so can't see the exact syntax but I'm sure there is an example somewhere.

Sent from my iPhone

[2014-11-01 23:42] connyg commented on #542
Yes, that's correct, that's what I have:

[code]

(Don't need the on/off here in the Url as I am only switching a toggling PT2272 RF power plug here, the parameters specify the bit frequency 2850 and the command, enabling the control of different brands of RF power plugs).

Von: Timvdv <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/SiriProxy <reply@reply.github.c

[2014-11-02 00:19] arnthorsnaer commented on #542
FYI If your code pauses the HAP-NodeJS code while running,  Siri will complain that the accessory is taking too long. I fixed this by ensuring that my own code executes asynchronously. 

var playSwitchCharacteristic = new characteristic_Factor.Characteristic(onOptions, function(value) {

[code]

                var musiccmd = "";

                if(value) musiccmd = “Play";

                else

[2014-11-02 00:33] nathreed commented on #542
Thanks for the insight. Will try asynchronous asap

[2014-11-02 10:37] quiquoi commented on #542
I have a pc with ubuntu, I saw that it was possible to install hap node.js above but I am not an expert!
where to find a tutorial to install hap node.js ?

thank you

[2014-11-02 11:39] nathreed commented on #542
It's pretty simple, here are some quick steps

Before we start, a quick note. In order to be able to install the iOS app on your phone you need a valid membership in Apple's iOS developer program. If you do not have one, you will not be able to get the app on the device and will not be able to do much with home kit. There are solutions out there, like websites which will sign an app for you if you

[2014-11-02 11:47] Timvdv commented on #542
@nathreed great explanation, one thing I'd like to add is that when I installed it on OSX 10.10 I had to use `npm rebuild` after cloning the repository (before running Core.js).

[2014-11-02 11:49] nathreed commented on #542
@Timvdv thanks for that, forgot that step. Adding it now.

[2014-11-02 12:02] arnthorsnaer commented on #542
Should this discussion be happpening elsewhere?On the hapnodejs project perhaps?

—
Sent from Mailbox

On Sun, Nov 2, 2014 at 11:49 AM, Nathan Reed notifications@github.com
wrote:

[2014-11-02 12:10] nathreed commented on #542
@arnthorsnaer Probably, but it started here and people here are interested in it. I think it's OK for it to be here.

[2014-11-02 12:44] elvisimprsntr commented on #542
Since the discussion has evolved to HomeKit based solutions, move the discussion to those respective repos.  It does not help the community as a whole to discuss topics on an unrelated repo.   You can post issues on those repos, or if the aim is to improve documentation for the community as a whole, you can edit the WiKi page for that repo. Example: https://github.com/KhaosT/HAP-NodeJS/wiki  If th

[2014-11-02 12:45] andymcblane commented on #542
Thanks Elvis I'm dying over here :-)

I do want to read through this thread, so if it can remain I would appreciate that.

Andy

[2014-11-02 12:48] arnthorsnaer commented on #542
What we have here are forum discussions, does that gel with Github issues ? Does github offer forums?

—
Sent from Mailbox

On Sun, Nov 2, 2014 at 12:45 PM, andymcb1 notifications@github.com
wrote:

[2014-11-02 12:49] elvisimprsntr commented on #542
@andymcb1 Github has a wonderful feature called Watch.  You can watch all activity on a given repo and be notified of any activity.  I highly recommend using it.

[2014-11-02 12:50] andymcblane commented on #542
Oh yeah I know.

I have email notifications but I'm really lazy.

Cheers

[2014-11-02 13:00] elvisimprsntr commented on #542
@arnthorsnaer GitHub does not support a forum like format that I am aware of. I suggest opening a General Discussion issue on the respective repo and go from there. Registered GitHub users can edit the repo wiki for permanent information, for example how-to instructions.

[2014-11-02 13:06] arnthorsnaer commented on #542
@Elvis sounds good. A "getting started" issue is probably a good idea as well ... points from that will the probably be merged into the project readme file or the wiki as you mentioned.

-A

—
Sent from Mailbox

On Sun, Nov 2, 2014 at 1:00 PM, Elvis notifications@github.com wrote:

[2014-11-02 13:12] elvisimprsntr commented on #542
@arnthorsnaer Especially since the majority seem to have converged on one repo.  I too am interested in a replacement for our much beloved SiriProxy.  If we all focus our combined efforts together, we can make it happen.  It just needs to be concentrated in the right place.

[2014-11-02 21:53] quiquoi commented on #542
thanks @ nathreed

but after npm rebuild :

gyp ERR! configure error
gyp ERR! stack Error: "pre" versions of node cannot be installed, use the --nodedir flag instead
gyp ERR! stack     at install (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/install.js:66:16)
gyp ERR! stack     at Object.self.commands.(anonymous function) [as install](/usr/local/lib/node_modules/npm/node_modules/node-

[2014-11-02 22:12] elvisimprsntr commented on #542
@quiquoi Apparently you didn't get the memo.  All hap-nodejs issues have moved to https://github.com/KhaosT/HAP-NodeJS/issues

[2014-11-03 09:21] arnthorsnaer commented on #542
@Elvis and other interested

I’m sorry about yet another message but I just wanted to let you know that I’ve forked the project. This is a temporary measure until the code stabilises. I will then make a pull request to merge it back into KhaosT's project, that is if he is interested. 

https://github.com/arnthorsnaer/HAP-NodeJS

For the more adventurous among you, you are welcome to checkout my ve

[2014-11-03 10:21] X-Mort-X commented on #542
hey guys, im having an issue with hap-node.js, i dont want to clutter up this thread anymore at the request of users so could someone give me a hand over on https://github.com/KhaosT/HAP-NodeJS/issues as i cant post issues on https://github.com/arnthorsnaer/HAP-NodeJS as im a noob lol

[2014-11-03 10:29] kami83 commented on #542
@ALL Is Siriproxy still working with IOS 6???

Thanks kami

[2014-11-03 10:30] andymcblane commented on #542
Yes

[2014-11-03 11:07] X-Mort-X commented on #542
Make sure you have a provisioning profile for the App ID that includes the HomeKit entitlement

how do i do this please guys?

[2014-11-03 12:12] X-Mort-X commented on #542
to do this do i need to be part of the ios dev program ($99/year)?

[2014-11-03 12:15] connyg commented on #542
I don't know if you need for the app ID, but I couldn't get xcode to sign the app until I joined the dev program.

Von: X-Mort-X <notifications@github.com<mailto:notifications@github.com>>
Antworten an: plamoni/SiriProxy <reply@reply.github.com<mailto:reply@reply.github.com>>
Datum: Montag, 3. November 2014 13:12
An: plamoni/SiriProxy <SiriProxy@noreply.github.com<mailto:SiriProxy@noreply.github.c

[2014-11-03 12:21] X-Mort-X commented on #542
ahhh ok well looks like i wont be trying this until after xmas haha

[2014-11-03 12:23] nathreed commented on #542
Xcode will not sign the app and you will not be able to run on the device
without the iOS developer program.

On Mon, Nov 3, 2014 at 7:21 AM, X-Mort-X notifications@github.com wrote:

[2014-11-03 12:26] arnthorsnaer commented on #542
It’s probably not too long until there is an app on App Store that supports browsing for and adding accessories.

-A

##

Sent úr símanum

On Mon, Nov 3, 2014 at 12:21 PM, X-Mort-X notifications@github.com
wrote:

[2014-11-03 16:28] quiquoi commented on #542
I always have an error after npm and node rebuild Core.js I posted here:https://github.com/KhaosT/HAP-NodeJS/issues/3
if someone can help me
thank you

Edit : apparently what I have is good but my iphone does not see accessorie
https://github.com/KhaosT/HAP-NodeJS/issues/3

[2014-11-04 09:52] quiquoi commented on #542
@arnthorsnaer  I saw that you had added another lamp accesorie as 2 but is it possible to add electrical components? electric shutter for example ?

[2014-11-04 11:28] arnthorsnaer commented on #542
Yes, it's of course up to you to communicate with these components but in terms of defining it in the HomeKit protocol, you have to define the service type and characteristics type to fit your accessory. Currently in the HAP-NodeJS this is defined using the UUID's (a string of numbers). Here are the types available. Apple has stated that they support custom ones. Check out Issue #1 of the HAP-Node

[2014-11-04 11:45] nathreed commented on #542
@quiquoi you would probably want to use the garage door opener type for that one. I don't think HomeKit supports shutters.

Sent from my iPhone

[2014-11-04 11:49] quiquoi commented on #542
yes it's true! homekit does not support the shutters yet

I already tried with the garage door and even renaming the door with the name of my component, but it works:

when I ask Siri to close the shutter of the kitchen he replied:
the garage door is closed

[2014-11-04 11:52] Alpha200 commented on #542
I think they said you can add custom device types with custom actions at
the keynote but I don't know how.
quiquoi notifications@github.com schrieb am Di., 4. Nov. 2014 um 12:49:

[2014-11-04 12:13] arnthorsnaer commented on #542
I wouldn’t worry too much about what HomeKit supports or not. I was able to create functioning music accessory using the light service type. I just gave it a name and then I was able to trigger it using the command “Turn on the jukebox” and “Turn off the jukebox”.

Using the correct characteristics type is more important in my view and the power state characteristic can get you pretty far if you s

[2014-11-04 12:56] quiquoi commented on #542
@arnthorsnaer and when you ask siri to disable the jukebox he'll answer it?
he answers: the light is turned off?

[2014-11-04 14:04] arnthorsnaer commented on #542
Yes, Siri answers but I think the answers are more general (not mentioning lights). I will have to check this and confirm when I am at home.

[2014-11-04 15:41] quiquoi commented on #542
I have tried several things:
rename door and kitchen
replace lamps for Garage Door:
I request Siri to close the kitchen door
siri answer me, the garage door is closed

replace garage door lamp:
I request Siri to close the kitchen door
siri answer me: the lights are off

So siri must create a response based on the type and characteristics (uuid designated Core.js) and name based on what we rename

[2014-11-04 16:05] arnthorsnaer commented on #542
I’ll post my own configuration and responses tonight.

-A

##

Sent úr símanum

On Tue, Nov 4, 2014 at 3:41 PM, quiquoi notifications@github.com wrote:

[2014-11-04 16:08] quiquoi commented on #542
@arnthorsnaer  ok ;)

[2014-11-04 22:36] elvisimprsntr commented on #542
Guess who, thru a DMCA request, took down Alex's information. It was fun while it lasted.

[2014-11-04 22:55] arnthorsnaer commented on #542
@quiquoi I am having problems testing. I just got a the iPhone 6 and there supposedly is an "syncing issue with CloudKit that may cause HomeKit database locked up". Until this gets resolved I run the HomeKit iOS app and can't check for the Siri responses, but I do remember they did not include mentions to lighting.

I checked my configuration of the jukebox accessory and I am using the Switch serv

[2014-11-05 10:16] juamonco opened #575 "Siriproxy and iOS 8"
Now that iOS 8 is running on most of iphones, and enables a "homekit" api. What happens with siriproxy?

[2014-11-05 14:27] arnthorsnaer commented on #542
@quiquoi I was able to test this and it works. I've also tested my fork of the HAP-NodeJS and it works as well. For those interested check out https://github.com/arnthorsnaer/HAP-NodeJS

[2014-11-05 16:04] quiquoi commented on #542
ok thanks i'll try it now

[2014-11-05 16:40] quiquoi commented on #542
i'm problem
after the server run :

HAP-NodeJS starting...
TCP server accepting connection on port: 51826
HAP Server is listening
TCP server accepting connection on port: 51828
HAP Server is listening
New Session 51674
Server Connection Established 35766
New Session 51672
Server Connection Established 43971
Client Disconnected
Server Disconnected
Client Disconnected
Server Disconnected
New Session

[2014-11-05 16:43] arnthorsnaer commented on #542
Can you post this on KhaosT's HAP-NodeJS issuetracker?-A

On Wed, Nov 5, 2014 at 4:40 PM, quiquoi notifications@github.com wrote:

[2014-11-05 16:57] quiquoi commented on #542
excuse me i don't see the issuetracker on this webpage : https://github.com/arnthorsnaer/HAP-NodeJS

[2014-11-05 16:59] arnthorsnaer commented on #542
My changes got merged into KhaosT repo. Add an issue here https://github.com/KhaosT/HAP-NodeJS/issues

On Wed, Nov 5, 2014 at 4:57 PM, quiquoi notifications@github.com wrote:

[2014-11-05 22:52] jumper4000 commented on #542
I haven't been able to keep up w all the recent posts. But, w all these latest solutions, are we able to use the old Ruby based SiriProxy code?

[2014-11-05 23:27] connyg commented on #542
Unfortunately no, HomeKit is a wholly different concept.
SiriProxy was reacting on voice commands.
HomeKit is a framework providing access to accessories defined by certain attributes.

Am 05.11.2014 um 23:52 schrieb jumper4000 <notifications@github.com<mailto:notifications@github.com>>:

I haven't been able to keep up w all the recent posts. But, w all these latest solutions, are we able to use t

[2014-11-08 20:22] dermarder commented on #542
Hey guys, i would like to try this on my own.
Can someone provide me a compiled .ipa file of the HomeKitDemo app?
Got the server already up and running!

Thank you very much.

EDIT: Already got it running!
I did it just with a jailbroken Phone without the need of a developer account.

So, can anyone explain how i can executed simple off an on commands with accessories ?
would be great!

[2014-11-08 22:45] gb160 commented on #542
@dermarder could you go into detail how u managed it with no dev account please?
I've got it working on the simulator but the app won't work on my phone.(jailbroken)

[2014-11-08 22:46] nathreed commented on #542
Even if we compile it for you, it still won't run on the device unless one is us adds your device to our provisioning profile (which is against iOS developer TOS).

Sent from my iPhone

[2014-11-08 22:48] dermarder commented on #542
@gb160
i just followed this guide: http://iphonedevwiki.net/index.php/Xcode
i transferred the app via ssh.
Good Luck!

[2014-11-09 00:04] gb160 commented on #542
@dermarder I've just tried that and I'm getting the 'XPC connection rejected' ....which is down to the dev entitlement.are u not getting that error?

[2014-11-09 00:09] dermarder commented on #542
@gb160 Is the app starting correctly?
No, i don't know this error.
Maybe i should send you my build of the app?

[2014-11-09 00:17] gb160 commented on #542
@dermarder Yeah the app starts fine, then asks me to setup a home...I put the name in then I get the error.the ios simulators working fine so it must be the app.if you could send me your app to try that would be great.
jamesbarber2015@gmail.com
Or upload it somewhere and email me the link.

[2014-11-09 01:29] gb160 commented on #542
@dermarder thanks but it's the same...strange.

[2014-11-09 09:49] lucamozza commented on #542
@gb160 are you running iOS 8.1? Something similar happened to me before updating my phone to the latest OS. Can't remember what the error was, but it got stuck creating a home.

[2014-11-09 10:00] gb160 commented on #542
@lucamozza yes I am....I'm running 8.1 on a 5s. What's irritating me is that I had this exact issue in the ios simulator at some point, but it went away.
Were u able to do this with no dev account also?

[2014-11-09 10:10] arnthorsnaer commented on #542
Have you tried resetting HomeKit on the iPhone?

—
Sent from Mailbox

On Sun, Nov 9, 2014 at 10:00 AM, gb160 notifications@github.com wrote:

[2014-11-09 10:19] gb160 commented on #542
@arnthorsnaer yes I have tried that also, I've signed in and out of iCloud too as I read somewhere else that could also solve the issue.
I appreciate the possible solutions guys...keep them coming!!

[2014-11-10 10:52] gb160 commented on #542
I solved the issue with the XPC error,the app now runs fine on my 5s iOS 8.1 with no dev account needed.
It was down to the home kit entitlements,i wont go into detail here as this thread is cluttered enough as it is.Feel free to tag me if you need the solution.
Thanks to all for offering possible solutions.

[2014-12-09 16:01] ckmo123 opened #576 "siriproxy gencerts cannot load such file？？？"
MacBook-Pro:SiriProxy-master k$ siriproxy gencerts
/Users/k/.rvm/rubies/ruby-2.1.5/lib/ruby/site_ruby/2.1.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- siriproxy/command_line (LoadError)
    from /Users/k/.rvm/rubies/ruby-2.1.5/lib/ruby/site_ruby/2.1.0/rubygems/core_ext/kernel_require.rb:54:in`require'
    from /Users/k/.rvm/gems/ruby-2.1.5/bin/siriproxy:4:in `<ma

[2014-12-17 18:51] jumper4000 commented on #542
Hi guys, I've somewhat lost track of this discussion. Since Siriproxy will never work again (which is extremely sad), could someone please tell me where a replacement stands? Seems like HomeKit is the next best option. Does anyone have the latest guide on how to get it working? Also, does it only control lights, or will it control anything similar to what SiriProxy did, such as door locks, thermos

[2014-12-17 22:00] ghost commented on #542
@gb160 Can you help me with XPC error on HomeKitDemo app?

[2014-12-17 22:33] gb160 commented on #542
@mvahanen if you don't get the error on the ios simulator then it's more than likely down to homekit entitlements, or that's the issue I found.
Do u have a dev account?

[2014-12-18 06:40] ghost commented on #542
@gb160 I don't have dev account. When i try to create new home on HomeKitDemo.app i get XPC Connection rejected.

[2014-12-18 11:44] nathreed commented on #542
@mvahanen home kit does not work properly on the sim. You need a dev account to put it on the device.

Sent from my iPhone

[2014-12-18 11:53] ghost commented on #542
@nathreed I follow this guide: http://iphonedevwiki.net/index.php/Xcode
Some one here say it should work with that.

[2014-12-18 12:07] gb160 commented on #542
@nathreed that not true mate....I have no dev account and it's working on my 5s and iPad Air, it also works on the ios simulator in xcode.
@mvahanen I'll be home later and point you in the correct direction.

[2014-12-18 20:32] nathreed commented on #542
@gb160 I meant you need a dev account to use it without jailbreaking.

Sent from my iPhone

[2014-12-19 11:58] gb160 commented on #542
@nathreed well thats not what you posted.
@mvahanen are you jailbroken? If so give me an email.

[2014-12-19 12:02] ghost commented on #542
@gb160 Yes i have jailbroken iPhone. Email is Xxx@xxx (removed)

[2015-01-01 19:10] hdtvfreak commented on #542
@gb160 I have exactly the same issue (XPC Error on  a jailbroken iPhone). It would be great if you could sent me the solution via mail. hdtvfreak@gmail.com. Thank you

[2015-01-02 12:40] gb160 commented on #542
Anyone  else struggling just give me an email and ill send the working app.

[2015-01-02 13:02] hans-peter123 commented on #542
that would be great. "hans.peterauto@web.de" Thanks!

[2015-01-02 13:15] ferrygun commented on #542
Could you pls send to ferrygun@yahoo.com too? ThanksSent from Yahoo Mail for iPhoneAt 2 Jan 2015 8:40:13 pm, gb160notifications@github.com'> wrote:Anyone  else struggling just give me an email and ill send the working app.—Reply to this email directly or view it on GitHub.

[2015-01-04 20:33] wvanbreukelen commented on #542
@gb160 I've got the same issue, can you send the app to "alopski@gmail.com"? Thank you very much!

[2015-01-05 09:45] gb160 commented on #542
Try this, let me know it works mate.

[2015-01-10 04:24] Alisamix commented on #542
To me too please: "kalisami@yahoo.de"

[2015-01-14 22:33] adarwash commented on #542
@gb160 Could you please send me a copy as well adarwash@live.co.uk :)

[2015-01-18 11:57] spartanz51 commented on #542
@gb160 Email me at spartanz51@live.fr please :+1:

[2015-02-02 22:54] griches commented on #542
Hey guys, I posted about Home Remote here before but just wanted to give an update... I'm working on getting Voice Recognition in to the app, it's in now and working but I want to try and get it available from the Today screen, that way it would be quite close to a Siri replacement. You can see a video here: http://youtu.be/idq7IRnrVq8
https://itunes.apple.com/gb/app/home-remote-home-automation/id

[2015-03-02 07:53] kami83 commented on #542
@gb160: Hi, can you also mail me a copy: kami@nonstop-party.de
Thanks a lot.

[2015-03-04 08:17] madege commented on #542
To me too please mnimd@online.ms
Thanks

[2015-03-04 10:05] polzy commented on #542
Me too please :)
Maxime.lazaro@gmail.com

Thanks you

[2015-03-13 23:00] ashoulson commented on #542
Are there any iOS7/8 solutions with a jailbreak? SiriProxy is/was great because it didn't require one, but if you were willing to jailbreak, is there a way to use that to create commands that make a custom network request and respond with custom text from a server?

The BetterThanSiri trick (doing a Google search and intercepting that request) is nice but doesn't allow for custom Siri-voiced feedb

[2015-03-25 09:49] gmanfredax commented on #542
@gb160 can you mail me a copy?
gmanfredax@gmail.com
thanks

[2015-03-30 04:38] ritvik1512 commented on #542
@gb160 mail me a copy as well!
ritvik@outlook.com :)

[2015-04-20 03:17] tfricks commented on #575
Siriproxy died in IOS 7.

[2015-04-20 15:17] johnsonld123 commented on #542
@gb160 Is this still working? Can you send me a copy johnsonld123@gmail.com

[2015-07-08 17:56] ph1ps commented on #542
After reading through all this, can anyone provide a method how to MITM-intercept a Siri request and decrypt the data (so no forwarding just intercepting the requests sent to Guzzoni) ? This is done with custom root certificates, right?

Also I'm sorry to bump this but I can't accept that Apple simply patched this awesome method of adding plugins.

[2015-07-08 17:58] Alisamix commented on #542
If you are jailbroken you can use Assistant+ and do everything you desire. Its awesome.
And to your question, no sorry.

[code]

 After reading through all this, can anyone provide a method how to MITM-intercept a Siri request and decrypt the data (so no forwarding just intercepting the requests sent to Guzzoni) ? This is done with custom root certificates, right?Also I'm sorry to bump this but I

[2015-07-08 18:25] gb160 commented on #542
@Alisamix does assistant+ work on iOS 8.4?

[2015-07-08 18:25] Alisamix commented on #542
Yes, tried it, works perfectly.

[code]

 @Alisamix does assistant+ work on iOS 8.4?—
Reply to this email directly or view it on GitHub.

[2015-07-08 18:32] gb160 commented on #542
@Alisamix
I've just tried on 8.4 on both iPad and iPhone,and it says "this product is not supported on your operating system"
Are u sure?
Did u use big boss repo?

[2015-07-08 18:42] Alisamix commented on #542
No, I pirated it because Cydia does not allow downloads for 8.4 yet I think. 

[code]

 @Alisamix
I've just tried on 8.4 on both iPad and iPhone,and it says "this product is not supported on your operating system"
Are u sure?
Did u use big boss repo?—
Reply to this email directly or view it on GitHub.

[2015-07-08 18:47] gb160 commented on #542
@Alisamix ahhh that makes sense.
Any chance you can email me the url or a link to lastjosh4@gmail.com
It would be greatly appreciated

[2015-07-08 18:47] dtomcat commented on #542
I have official version.  I think I was able to restore it from pkgbackup. Works great as far as I know. I haven't used it much as I'm deployed.  I just wish I could get responses back to I can check status of sensors.  So I can turn on and off lights... But can't ask if the light is on. (Can't have dynamic responses)

Sent from my iPhone

[2015-07-08 18:50] Alisamix commented on #542
http://cydia.myrepospace.com/nuke11proof/

[code]

 I have official version. I think I was able to restore it from pkgbackup. Works great as far as I know. I haven't used it much as I'm deployed. I just wish I could get responses back to I can check status of sensors. So I can turn on and off lights... But can't ask if the light is on. (Can't have dynamic responses)

Sent from my iPhone

[2015-07-08 19:00] gb160 commented on #542
@Alisamix many thanks, worked a charm.

[2015-07-08 20:20] ph1ps commented on #542
Thanks for the replies but a tweak was not my intention. And there has to be such kind of MITM method because how else could all those people it before?! There wasn't any change in the method of transmitting those speech files, was there?

[2015-07-30 14:22] kami83 commented on #542
Hi,

i am following this conversation for a long time. I am still looking for an app or the function to let Siri tell you a text string (for example from a TXT file). Is it possible to get a custom response from Siri?

Thanks a lot.

Cu kami

[2015-07-30 14:46] tommyd75 commented on #542
I was able to do it when I was using iOS 6 and Siri proxy. I use a home automation software called Homeseer and I had scripts set up in there to write text to a file and I would ask Siri "what's the status of the security system" and she would read back whatever was in that text file.
But I don't know any way to do it with Homekit and iOS7 or higher since Siriproxy is not supported in the later ve

[2015-07-30 14:50] gb160 commented on #542
If you're jailbroken then just install assistant+
That's what I use to interface Siri with my home automation system.
You can set custom replies, and a hell of a lot more.
IMO it's worth jail breaking just for this tweak.
It really is a game changer, there's details a few posts above with where you can get it from.

[2015-07-31 10:51] kami83 commented on #542
Hi,

thanks a lot for the answer. This morning i installed Assistant+ on IOS 8.4 directly from Cydia. It works great and i can configure a lot of Triggers. Thanks a lot.

Cu kami

[2015-08-03 14:24] griches commented on #542
Hey guys,

The Assistant+ app is great. I’ve tied it in to my Home Automation app (Home Remote) for iOS and now can directly control stuff with Siri with no need for a server as long as it’s supported kit.

I want to write a plug in for Assistant+ that will read my list of actions in the Home Remote app but can’t work out how to test my extension with Assistant+. I’ve tweeted the author but had no

[2015-08-03 14:34] gb160 commented on #542
@griches no can't help with that I'm afraid, I was looking at making a plugin to interface with any Kodi client, but after looking at I was able to do exactly what I wanted just by using curl commands and the Kodi Json api....infact this (Json, curl) was how I interfaced with my home automation system.
I'm pretty sure anything that has a Json api can be easily interfaced with Siri using this metho

[2015-08-03 15:39] msreynolds commented on #542
I have started playing with the Amazon Echo.  Amazon released a voice API SDK recently, so I wrote the same plugin for it that I had written for SiriProxy:

Github project:
https://github.com/msreynolds/askIndigo

Second to last post here (mreyn2005):
http://forums.indigodomo.com/viewtopic.php?f=84&t=12840&p=100144

[2015-08-04 13:34] griches commented on #542
Assistant+ is awesome, I didn’t even need to write a plug in in the end.

You can see a video of the results here: http://youtube.com/watch?v=UAAPpK1ZJb0

[2015-08-04 13:49] gb160 commented on #542
@griches that's very similar to what I've achieved....however I don't see the purpose in the App you've made....is it just for simple integration of official home kit appliances?
Why can't assistant+ talk directly to your home automation system?

How mine works is that as long as my home automation system(domoticz) can control a device, so can Siri.....I really like domoticz for the reason that ev

[2015-08-04 13:51] griches commented on #542
It doesn’t control any HomeKit enabled devices. Milight/LimitlessLED/EasyBulb don’t support any voice control and their apps are awful. Same goes for WeMo currently.

The main aim of the app is to provide Today screen access without the need to open any apps, the voice control is just a bonus.

[2015-08-04 13:53] gb160 commented on #542
@griches ahhh....it does look pretty sweet having it all in the today screen.
Would it take much to make it work on different home automation systems?
I'm using do Domoticz btw.

[2015-08-04 13:53] griches commented on #542
For example: if domoticz supports calling actions by URL then Home Remote would provide buttons on your Today Screen to call the domoticz actions that would call your other actions, or call them directly. You don’t always want to talk.

It also supports Pebble and Apple Watch.

[2015-08-05 07:17] gb160 commented on #542
@griches any chance I can try your app ? I'll purchase it if it works well.

[2015-08-05 07:52] griches commented on #542
Of course. DM me on Twitter @Gary_BBGames and I'll add you to the beta

[2015-08-13 09:09] gb160 commented on #542
@griches Hi, I'm following u on twitter but can't send u a DM.
Im prob doing something wrong...im new to twitter lol.

[2015-08-13 09:10] griches commented on #542
Can you just @ me of give me your username and I’ll send you one.

Ta,

G

[2015-10-31 19:53] papertigers commented on #542
So it turns out siriproxy might work again but only the new appletv. Since there is no mTCP at play on this device. I have left my DNS records on my network and I noticed Siri was not working on the new Apple TV. Turning off that particular dns zone fixed the issue. I'll test and see if I can get it working

[2015-10-31 20:05] papertigers commented on #542
Actually the issue will be getting the cert onto the apple tv.

[2015-11-01 17:54] griches commented on #542
So here’s something interesting I found out today, the Siri remote can drive the focus engine on tvOS/Apple TV.

My app, Home Remote, ha been ported to Apple TV (still in review) and this works a treat. This means with the _app open_, you can control your home from the Siri remote.

You can see a video of it here: https://youtu.be/T9_AzlE8Pxs

[2015-11-01 18:00] griches commented on #542
I should add that the TV doesn’t need to be on, you can just leave the Apple TV on, with the app open and sleep disabled and it will work.

[2015-11-02 23:14] griches commented on #542
So here you guys, here is another update from yesterdays.

The Siri remote can drive the Focus engine on the Apple TV, activating any button that has the label you speak…. Now that’s all well and good but can be quite limiting… But what if there was a way to have much more text… There is!

My app, Home Remote, allows custom voice commands on the iOS app, so “Study Bright” can have a voice command

[2016-02-21 21:31] griches commented on #542
I think with a combination of software I have got a pretty good SiriProxy replacement now.

Home Remote for Mac mirrors the iOS app's Today Screen set up. Home Remote can control milight, memo, LIFX & Indigo natively, as well as sending TCP and UDP packets and URL commands with varying payloads.
I recently bought an Amazon Echo to control my home. I had been using fake Wemo devices to call a URL i

[2016-02-21 21:57] joshjames commented on #542
Of course with the echo you can hook in to Alexa voice services (avs) it would be trivial to write a Siri clone for ios that's actually utilising avs, essentially providing everyone with the same functionality of siri with a proxy, perhaps re-purposing Siri proxy to support an avs client will bring it back to life ?

[2016-02-21 22:05] griches commented on #542
But there is no clone here. It's Siri, calling any URL.

Siri > home kit > fake hue > home remote.

[2016-05-07 01:56] animalextract1982 opened #577 "Buy Quality Passport ,Visa,Driving License,ID CARDS,etc."
Buy Quality Fake Passport ,Visa,Driving License,ID CARDS,etc (((milleralexander366@gmail.com )))

We offer only original high-quality real and fake passports, driver's licenses, ID cards, stamps, Visa, school Diplomes and other products for a number of countries like:
USA, Australia, Belgium, Brazil, Canada, Italia, Finland, France, Germany, Israel, Mexico, Netherlands, South Africa, Spain, United

[2016-06-09 04:23] MrARM commented on #576
It is a issue with the mac version of Ruby, download virtualbox or use a vps/server with a debian based OS.

[2016-06-23 18:37] jumper4000 commented on #542
I haven't followed this thread in a while, but is there anything like SiriProxy out there yet? I know there's Assistant+, but it just doesn't have the flexibility and power that SiriProxy had. Is there anything similar to SiriProxy yet that would give me full control over Siri and what it does/say?

[2016-12-24 15:41] #67 closed

[2017-08-16 08:37] BenjiL337 opened #579 "CoolBooter Siriproxy working"
Just a heads up to anyone that comes here siriProxy is working with coolBooter for the time being

[2018-06-11 02:38] #564 closed

[2018-06-24 18:16] ppriyank opened #580 "[Info - iPhone] Got invalid data (non-ACE protocol?), terminating the connection."
`ROGUE PACKET!!! WHAT IS IT?! TELL US!!! IN IRC!! COPY THE STUFF FROM BELOW
30 37 30 30 30 30 30 30 35 61
[Info - iPhone] Got invalid data (non-ACE protocol?), terminating the connection.`

Firstly I was getting the error :
`Either you're not root or tcp/udp port 53 is in use. DNS server is disabled`

so I changed the script to use port 8600 and use iptables to forward port 53 to 8600

`iptables -

[2018-12-26 21:59] stanislavp2018 commented on #580
[code]

[2021-09-11 12:25] graanco commented on #542
I don’t trust tim the crook with my data… I want my own personal cloud and this Siri is the biggest hurtle.. is there a way I can redirect Siri to my own system??

[2021-09-11 12:35] andymcblane commented on #542
@graanco on iOS7?

[2021-09-11 14:04] graanco commented on #542
For any iOS version like a man in the middle that redirects the requests. Is that possible to reverse  engineer it. That way all devices would use the local server instead of sending them to apple

[2021-09-11 19:39] tommyd75 commented on #542
I used to use something called Siri Proxy back in the early days of Siri.
but I’m not sure that’s workable anymore.
It would be a middle man that redirected all your Siri requests to your Siriproxy server and of your request matched one of your responses you could have it send a command to something or respond with a specific reply and if not it sent the request to Apple servers.
You had to change

[2021-09-11 22:24] graanco commented on #542
… that only redirects from the phone and not every device. In order to do what want would be to use a DNS redirect the request to the server. That way everything is contained as mini pod Apple TV all phones iPads. Only issue is when you are outside the internal network but maybe use a vpn into the internal when away…

[2021-09-11 22:27] nathreed commented on #542
@graanco what you’re suggesting isn’t possible anymore. That’s what the project on this GitHub repo originally did, back in the iOS 5 and maybe iOS 6 days.

Apple broke it by implementing a couple changes, but most notably certificate pinning (IIRC) that makes it completely impossible to MITM Siri unless your iOS device is jailbroken. Even then, I’m sure the protocol has changed so much that this

[2021-09-12 13:24] graanco commented on #542
Yes host file for Siri but if you run your own dns server you could control that without jb the device. And it would control all home devices.  Time to research mptcp

[2021-09-12 13:26] nathreed commented on #542
@graanco running your own DNS is what this project did. MPTCP breaks that, because it uses multiple paths for the DNS lookup and the connection to the Siri servers (I’m a little hazy on the details after so long). It isn’t really possible anymore. If it was, this project would be active.

[2021-09-12 13:30] graanco commented on #542
Well I have a will and a big desire to stick it to the man!!! I am going to attack this!! And make if it needs to go to the servers it will save that response into the system so it doesn’t ever do it again hmmm only issue is stuff like weather. Isn’t that what apple was originally about???

[2022-07-05 11:07] Gomesz785 commented on #575
and Siriproxy died in IOS >7.